#temporadas img {
  width: 200px;
  height: 200px;
  border: 10px;
}

body {
  margin: 0;
  background-color: #0b0b0b;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Creepster', cursive;
    letter-spacing: 2px;
    font-size: 40px;
}

.personajes_home a,
.temporadas_home a {
    font-family: 'Creepster', cursive;
}

header img {
  width: 30%;
  height: 30%;
  margin-left: 450px;

}
header {
  background-color: #b11226;
  padding: 20px;

}

header a {
  color: white;
  text-decoration: none;
}


a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 3px solid red;
  outline-offset: 3px;
}


footer {
  background-color: #1b263b;
  padding: 20px;
  text-align: center;
}

h1, h2, p {
text-align: center;

}
