
/* SELECTOR UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY (selector de etiqueta) */

body {
  background-color: #0b0b0b;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

/* TITULOS (selector múltiple) */
h1, h2, h3 {
  font-family: 'Creepster', cursive;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
}

p {
  text-align: center;
}

/* HEADER */
header {
  background-color: #b11226;
  padding: 20px;
  text-align: center;
}

/* selector descendente */
header img {
  width: 300px;
}

/* selector descendente */
header nav ul {
  list-style: none;
  margin-top: 15px;
}

/* selector descendente */
header nav ul li {
  display: inline-block;
  margin: 0 15px;
}

/* selector descendente */
header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* pseudoclase */
header a:hover {
  color: black;
}

/* SECCIONES CON FONDOS */

/* selector de clase */
.hero {
  background-color: #1a1a1a;
  padding: 40px;
}

.sobre_serie {
  background-color: #111;
  padding: 30px;
}

.upside_down {
  background-color: #1a1a1a;
  padding: 30px;
}

.personajes_home {
  background-color: #111;
  padding: 30px;
}

.temporadas_home {
  background-color: #1a1a1a;
  padding: 30px;
}

.curiosidades {
  background-color: #111;
  padding: 30px;
}


/* SELECTOR HIJO DIRECTO */
.personajes_home > ul {
  border-left: 3px solid #b11226;
  padding-left: 15px;
}


/* LISTAS */
ul, ol {
  margin-top: 15px;
  margin-left: 30px;
}


/* LINKS ESPECIALES */

/* selector múltiple */
.personajes_home a,
.temporadas_home a {
  font-family: 'Creepster', cursive;
  color: #b11226;
}

/* pseudoclase */
.personajes_home a:hover,
.temporadas_home a:hover {
  color: white;
}

/* ACCESIBILIDAD  */
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 3px solid red;
  outline-offset: 3px;
}


/* FOOTER */
footer {
  background-color: #1b263b;
  padding: 20px;
  text-align: center;
}
